<%- include("header") -%>

    <container>
        <div class="row" style="margin-top: 4%"></div>
            <div class="col">   
                <blockquote class="blockquote text-center">
                    <h5 class="display-4"></h5>
                    <h1 class="display-3" style="font-color: #00416d"> MedDispatch</h1>
                    <p class="mb-0 about-paragraph lead" style="font-weight: bolder; color:#00416d">MedDispatch is a Medical Communication and Records transfer system. MedDispatch does not keep you Health Records. <br>With MedDispatch you can send your Medical Record to 
                        your future care-team, so your care can be supported by the best available information. </p>
                </blockquote>
             </div> 
        </div>
    </container>

